<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:visitors, :index) %></li>
      <li><%= link_to pat(:new), url(:visitors, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:visitors) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:visitor, :id) %></th>
          <th><%= mat(:visitor, :name) %></th>
          <th><%= mat(:visitor, :email) %></th>
          <th><%= mat(:visitor, :created_at) %></th>
          <th><%= mat(:visitor, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @visitors.each do |visitor| %>
        <tr>
          <td class="first"><%= visitor.id %></td>
          <td><%= visitor.name %></td>
          <td><%= visitor.email %></td>
          <td><%= visitor.created_at %></td>
          <td><%= visitor.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:visitors, :edit, :id => visitor.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:visitors, :destroy, :id => visitor.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
